<div class="pensamento {{ quote.model }} ff-roboto-mono" [ngClass]="quoteWidth()">
  <img src="/assets/imagens/{{ quote.model }}.png" alt="Aspas coloridas" />
  <p class="conteudo">{{ quote.content }}</p>
  <p class="autoria">
    <b>{{ quote.author }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/quotes/edit/{{quote.id}}" >
      <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar" />
    </button>
    <button class="botao-excluir" routerLink="/quotes/delete/{{quote.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
